
.Loading{
    height: 100vh;
    position: absolute;
    top: 8vh;
    background:white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zero{
    height: 50px;
    width: 50px;
    background: #FBA138;
    border-radius: 50%;
    animation: move 0.5s infinite linear alternate;
}

@keyframes move{
    0%{
        transform:translateX(50px);
    }
    50%{
        transform: translateX(100px);
    
    }
    100%{
        transform:translateX(150px);
    }
}


.MeetSomeone{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.UserBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UserBox h5{
    margin-top: 20px;
}

.UserBox button{
    height: 40px;
    width: 150px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #FBA138;
    margin-top: 30px;
}

.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-image: url('../images/christiana-rivers-O_XIvDy0pcs-unsplash.jpg');
    border: 1px solid grey;
}

.nav{
    display: none;
}

@media screen and (max-width:1024px){
    .MeetSomeone{
        padding-top: 15vh;
    }

    .nav{
        display: block;
        transform: translateX(50%);
        position: fixed;
        width: 100%;
        transition: 0.5s;
    }

    .nav.active{
        transform: translateX(0%);
    }
}
