
.profile{
    
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}

.LoggedIn h4{
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-image: url('../images/michael-dam-mEZ3PoFGs_k-unsplash.jpg');
    border: 1px solid grey;
}

.profile p{
    width: 50%;
    text-align: center;
    margin-top: 30px;
}

.profile button{
    height: 40px;
    width: 150px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #FBA138;
    margin-top: 30px;
}

.picBox{
    display: flex;
    width: 100%;
    height: 50vh;
    margin-top: 20px;
   
  
}

.picBox img{
    height: 70%;
    margin: 5px;
    border-radius: 10px;
}

/* .BootomPic{
    display: flex;
    width: 100%;
    height: 50vh;
   
}

.BootomPic img{
    height: 70%;
    margin: 5px;

} */

/* mobile nav */

.nav{
    display: none;
  
}


@media screen and (max-width:1024px){
    .profile{
        padding-top: 15vh;
    }

    .profile p{
        width: 100%;

    }

    .curve{
        padding-bottom: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
       

    }


    .picBox img{
        height: 50%;
    }

    .nav{
        display: block;
        transform: translateX(50%);
        position: fixed;
        width: 100%;
        transition: 0.5s;
    }

    .nav.active{
        transform: translateX(0%);
    }

   

   
  

    
}